## Under or Over Ranked Teams

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.graph_objects as go

%matplotlib inline

In [3]:
records = pd.read_csv('scraped_results_df.csv')
# 'game_loc' indicated where the game was played at. Since the winner is listed first in 
# the original data, the '@' indicates the game was played at the loser's home.  Therefore, 
# we can create a new column called 'Winner_home' if the '@' sign is not present.
records['winner_home'] = records['game_loc']!='@'

# The rank is included in the winner and losers name within parenthesis.  The below regex will identify 
# numerical digits within the parenthesis and extract them to a new column as 'floats'.  We'll also 
# remove the rank in parenthesis from the original winner column.  We'll do this for winners and losers.
records['winner_rank'] = records['winner'].str.extract('\(([0-9]+)\)', expand=True).astype('float')
records['winner_name'] = records['winner'].str.replace('\(([0-9]+)\)', '').str.replace('\xa0', '')
records['loser_rank'] = records['loser'].str.extract('\(([0-9]+)\)', expand=True).astype('float')
records['loser_name'] = records['loser'].str.replace('\(([0-9]+)\)', '').str.replace('\xa0', '')

# Calculate a rank_diff socre.  The more negative this is, the more of an upset it is.
records['rank_diff'] = records['loser_rank'] - records['winner_rank']

# Add a pts_diff between the two pts as we can use margin of victory to see how close a 
# game is.
records['pts_diff'] = records['winner_pts'] - records['loser_pts']

# We no longer need several of these columns, so lets drop them.  
records.drop(['Unnamed: 0', 'winner','loser'], axis=1, inplace=True)

records.set_index(['year','week_number', 'row'], inplace=True)

In [4]:
records_recent = records.loc[2000:2019]

In [5]:
records_recent.groupby('loser_name').mean()[(records_recent.groupby('loser_name').count()['rank_diff'] > 5)].sort_values('rank_diff', ascending=True).head()

records_recent.groupby('winner_name').mean()[(records_recent.groupby('winner_name').count()['rank_diff'] > 5)].sort_values('rank_diff', ascending=False).head()

records_recent[(records_recent['loser_name'] == 'Iowa State') & (records_recent['rank_diff'] > 0)]

records_recent[(records_recent['loser_name'] == 'Alabama') & (records_recent['rank_diff'] > 0)]

records_recent[(records_recent['loser_name'] == 'Texas') & (records_recent['rank_diff'] > 0)]

                      winner_pts  loser_pts     game_date game_time game_day  \
year week_number row
2000 7           321        63.0       14.0   Oct 7, 2000       NaN      Sat
     17          690        35.0       30.0  Dec 29, 2000       NaN      Fri
2001 6           276        14.0        3.0   Oct 6, 2001       NaN      Sat
2002 8           381        35.0       24.0  Oct 12, 2002       NaN      Sat
2003 8           384        65.0       13.0  Oct 11, 2003       NaN      Sat
2004 7           325        12.0        0.0   Oct 9, 2004       NaN      Sat
2006 2           116        24.0        7.0   Sep 9, 2006       NaN      Sat
2007 6           354        28.0       21.0   Oct 6, 2007       NaN      Sat
2009 20          835        37.0       21.0   Jan 7, 2010       NaN      Thu
2010 5           301        28.0       20.0   Oct 2, 2010       NaN      Sat
2011 6           357        55.0       17.0   Oct 8, 2011       NaN      Sat
                 358        55.0       17.0   Oct 8, 2011       NaN      Sat
     7           410        38.0       26.0  Oct 15, 2011       NaN      Sat
2012 6           383        48.0       45.0   Oct 6, 2012       NaN      Sat
     7           423        63.0       21.0  Oct 13, 2012       NaN      Sat
     14          796        42.0       24.0   Dec 1, 2012       NaN      Sat
2013 12          670        38.0       13.0  Nov 16, 2013   3:30 PM      Sat
     15          803        30.0       10.0   Dec 7, 2013   3:30 PM      Sat
2018 11          634        42.0       41.0   Nov 3, 2018   3:30 PM      Sat
     15          841        39.0       27.0   Dec 1, 2018  12:00 PM      Sat

                     game_loc  \
year week_number row
2000 7           321      NaN
     17          690      NaN
2001 6           276      NaN
2002 8           381      NaN
2003 8           384      NaN
2004 7           325      NaN
2006 2           116        @
2007 6           354      NaN
2009 20          835      NaN
2010 5           301      NaN
2011 6           357      NaN
                 358      NaN
     7           410        @
2012 6           383        @
     7           423      NaN
     14          796      NaN
2013 12          670        @
     15          803      NaN
2018 11          634        @
     15          841      NaN

                                                                  notes  \
year week_number row
2000 7           321                                                NaN
     17          690                       Holiday Bowl (San Diego, CA)
2001 6           276                                                NaN
2002 8           381                                                NaN
2003 8           384                                                NaN
2004 7           325                                                NaN
2006 2           116                                                NaN
2007 6           354                                                NaN
2009 20          835                    BCS Championship (Pasadena, CA)
2010 5           301                                                NaN
2011 6           357                        Cotton Bowl - Dallas, Texas
                 358                                                NaN
     7           410                                                NaN
2012 6           383                                                NaN
     7           423                                                NaN
     14          796                                                NaN
2013 12          670                                                NaN
     15          803                                                NaN
2018 11          634  Darrell K Royal-Texas Memorial Stadium - Austi...
     15          841                    AT&T Stadium - Arlington, Texas

                      winner_home  winner_rank     winner_name  loser_rank  \
year week_number row
2000 7           321         True         10.0        Oklahoma        11.0
     17          690         True          8.0          Oregon        12.0
2001 6           276         True          3.0        Oklahoma         5.0
2002 8           381         True          2.0        Oklahoma         3.0
2003 8           384         True          1.0        Oklahoma        11.0
2004 7           325         True          2.0        Oklahoma         5.0
2006 2           116        False          1.0      Ohio State         2.0
2007 6           354         True         10.0        Oklahoma        19.0
2009 20          835         True          1.0         Alabama         2.0
2010 5           301         True          8.0        Oklahoma        21.0
2011 6           357         True          3.0        Oklahoma        11.0
                 358         True          3.0        Oklahoma        11.0
     7           410        False          6.0  Oklahoma State        22.0
2012 6           383        False          8.0   West Virginia        11.0
     7           423         True         13.0        Oklahoma        15.0
     14          796         True          7.0    Kansas State        23.0
2013 12          670        False         12.0  Oklahoma State        23.0
     15          803         True          9.0          Baylor        23.0
2018 11          634        False         12.0   West Virginia        15.0
     15          841         True          5.0        Oklahoma         9.0

                     loser_name  rank_diff  pts_diff
year week_number row
2000 7           321      Texas        1.0      49.0
     17          690      Texas        4.0       5.0
2001 6           276      Texas        2.0      11.0
2002 8           381      Texas        1.0      11.0
2003 8           384      Texas       10.0      52.0
2004 7           325      Texas        3.0      12.0
2006 2           116      Texas        1.0      17.0
2007 6           354      Texas        9.0       7.0
2009 20          835      Texas        1.0      16.0
2010 5           301      Texas       13.0       8.0
2011 6           357      Texas        8.0      38.0
                 358      Texas        8.0      38.0
     7           410      Texas       16.0      12.0
2012 6           383      Texas        3.0       3.0
     7           423      Texas        2.0      42.0
     14          796      Texas       16.0      18.0
2013 12          670      Texas       11.0      25.0
     15          803      Texas       14.0      20.0
2018 11          634      Texas        3.0       1.0
     15          841      Texas        4.0      12.0